SERVER_CONTAINER_NAME=crud-application
SERVER_PORT=3015
SERVER_URL=http://localhost
SERVER_CPU_LIMIT=2
SERVER_MEM_LIMIT=512MB

POSTGRES_USER=LuisReyes979394
POSTGRES_DB=postgres
POSTGRES_PASSWORD=123456

POSTGRES_HOST=db
POSTGRES_PORT=5432
DB_CPU_LIMIT=2
DB_MEN_LIMIT=512MB

JWT_SECRET=change_this_super_secret_key
JWT_EXPIRES_IN=1h